﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<h2>Html</h2>
<p>姓名 : @Html.TextBox("username")</p>
<p>帳號 : @Html.TextBox("account")</p>
<p>密碼 : @Html.Password("pwd")</p>
<p>
    性別
    @Html.RadioButton("gender", "A")男
    @Html.RadioButton("gender", "B")女
</p>
<p>
    興趣
    @Html.CheckBox("habby-1", "A")打球
    @Html.CheckBox("habby-2", "B")打人
</p>
<p>關於我 : @Html.TextArea("aboutme");</p>





@*<h2>Html</h2>
<p>名字<input type="test" name="name"></p>
<p>帳號<input type="test" name="name"></p>
<p>密碼<input type="password" name="name"></p>
<p>
    性別
    <input type="radio" name="gender" value="男" />男
    <input type="radio" name="gender" value="女" />女
</p>
<p>
    興趣
    <input type="checkbox" name="h-1" value="A" />打球
    <input type="checkbox" name="h-2" value="B" />打人
</p>
<p>關於我 : <br /><textarea></textarea></p>*@
