﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p>名字<input type="test" name="name"></p>
<p>帳號<input type="test" name="name"></p>
<p>密碼<input type="password" name="name"></p>
<p>
    性別
    <input type="radio" name="gender" value="男" />男
    <input type="radio" name="gender" value="女" />女
</p>
<p>
    興趣
    <input type="checkbox" name="h-1" value="A" />打球
    <input type="checkbox" name="h-2" value="B" />打人
</p>
<p>關於我 : <br/><textarea></textarea></p>



